:root{
    --white-font: #f3f3f3;
    --dark-font: #0C0C0C;
}
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins&display=swap');

*{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('lib/bg-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; 
    background: rgba(12, 12, 12, 0.75);
    color: var(--white-font);
    justify-content: space-around;
}
.nav-link{
    color: var(--white-font);
}
.nav-link:hover{
    color: var(--white-font);
    font-weight: bold;
}
a:visited{
    color: var(--white-font);
}
#hero{
    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cv{
    color: var(--white-font);
    
}
#name{
    color: var(--white-font);
    font-size: 12vh;
    letter-spacing: 2px;
}
.btn:focus{
    box-shadow: none;
}
#btn-about{
    color: var(--white-font);
    border-color: var(--white-font);
    margin-top: 20px;
    border-radius: 20px;
}
#btn-about:hover{
    color: var(--dark-font);
    border-color: none;
    background-color: var(--white-font);
    margin-top: 20px;
}
/*Media Query para o header*/
@media only screen and (max-width: 599px) 
{
    .lista
   {
    display: none;
   }   
}
@media only screen and (min-width: 600px) {
    #menu-icon{
        display: none;
    }
}
#menu-icon:hover{
    cursor: pointer;
}