:root{
    --fonts: #f3f3f3;
    --dark-font: #0C0C0C;
}
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins&display=swap');

*{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Poppins', sans-serif;
}

#hero{
    background-image: url('lib/bg-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cv{
    color: var(--fonts);
    
}
#name{
    color: var(--fonts);
    font-size: 12vh;
    letter-spacing: 2px;
}
.btn:focus{
    box-shadow: none;
}
#btn-about{
    color: var(--fonts);
    border-color: var(--fonts);
    margin-top: 20px;
    border-radius: 20px;
}
#btn-about:hover{
    color: var(--dark-font);
    border-color: none;
    background-color: var(--fonts);
    margin-top: 20px;
}
