:root{
    --white: #f3f3f3;
    --dark: #0C0C0C;
    --grey: #888888;
}
*{
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: url('lib/bgHero.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh; 
    background: rgba(12, 12, 12, 0.75);
    color: var(--white);
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-link{
    color: var(--white);
}
.nav-link:hover{
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
}
a{
    color: inherit;
}
a:focus{
    color: var(--white);
}
a:visited{
    color: inherit;
    text-decoration: none;
}
a:active{
    color: inherit;
    text-decoration: none;
}
#hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#name{
    color: var(--white);
    font-size: 12vh;
    letter-spacing: 2px;
    
}
.btn{
    padding-left: 20px;
    padding-right: 20px;
}
.btn:focus{
    box-shadow: none;
}
#btn-about{
    color: var(--white);
    border-color: var(--white);
    margin-top: 20px;
    border-radius: 20px;
}
.arrow{
    height: 15px;
    width: 15px;
    color: var(--white);
    margin-left: 10px;
}
@media (hover: hover) {
    .arrow:hover {
      filter: grayscale(100%);
    }
    #menu-icon:hover{
        cursor: pointer;
    }
    #btn-about:hover{
        color: var(--dark);
        border-color: none;
        background-color: var(--white);
        margin-top: 20px;
    }
  }
/*Media Query para o header*/
@media (max-width: 569px) 
{
    .lista
   {
    display: none;
   }   
    /* Dropdown Button */
    .dropbtn {
        background-color: var(--dark);
    }
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: var(--dark);
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: var(--white);
        background-color: #171717;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {   background-color: #0C0C0C;}
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
}
@media  (min-width: 570px) {
    #menu-icon{
        display: none;
    }
    .dropdown{
        display: none;
    }
}

/* Sobre */
.section-title::after{
    content: "";
    width: 150px;
    background-color: var(--white);
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 4px;
}
#about{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 60px;
}
#description{
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}
#description-text{
    text-align: justify;
    font-family: "Lucida Console";
}
#information{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#dados{
    height: 100%;
}
#competencias{
    height: 100%;
}
@media (max-width: 549px){
    #competencias{
        margin-top: 30px;
    }
}
.grey-font{
    color: var(--grey);
}
#map{
    width: 15px;
    height: 15px;
    padding-left: 3px;
}
.list-dados{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: start;
    justify-content: start;  
    margin-top: 30px;
}
.list-competencia{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}
.botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
@media (max-width: 800px){
    .botoes{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }   
    #download-cv{
        margin-top: 30px;
    }
}
.button-style{
    border-radius: 10px;
    height: 50px;
    width: 250px;
    font-size: 15px;
}
#button-contato{
    background-color: var(--dark);
    border: solid 2px var(--white);
    color: var(--white);
}
#button-contato:hover{
    background-color: var(--white);
    font-weight: bold;
    color: var(--dark);
}
#button-contato:focus{
    background-color: var(--dark);
    border: solid 2px var(--white);
    color: var(--white);
}
#download-cv{
    background-color: var(--white);
    font-weight: bold;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
#download-cv:hover{
    background-color: var(--dark);
    border: solid 2px var(--white);
    color: var(--white);
}
